@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

@import './css/form';
@import './css/form-loader';
@import './css/submit-btn';
@import './css/navbar';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-blue: rgba(0, 47, 255, 0.5);
  --main-blue-transparent: rgba(0, 47, 255, 0.247);
}

body {
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
  background: #c52626;
}

#app {
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  gap: 1em;
  padding: 2em;
  padding-top: 1.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#app::before,
#app::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  min-height: 150svh;

  z-index: -1;

  opacity: 17%;
  opacity: 24%;
}
@media (max-width: 789px) {
  #app {
    display: block;
    min-height: 110svh;
    padding: 1.3em;
  }
}
@media (max-width: 383px) {
  #app {
    // padding: 1em;
    min-height: 120svh;
  }
  #app::before,
  #app::after {
    min-height: 170svh;
  }
}

#app::before {
  background: #0a0a0a;
  background: linear-gradient(to right, #171618, #3b79ff);
  background: linear-gradient(150deg, #3b79ff, #171618, #3b79ff);
  background: linear-gradient(120deg, #3b79ff, #171618, #3b79ff);

  filter: url(#noiseFilter);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
