.inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.171);
  box-shadow: 0 0 20px rgba(59, 59, 63, 0.295);
  margin-top: 1.4em;
  transform: translateY(-18px);

  padding: 1.5em;
  border-radius: 30px;
  transition: 0.6s all;

  @media (max-width: 789px) {
    transform: translateY(0);
    margin-bottom: 10px;
  }
}
.inputs-container:hover {
  box-shadow: 0 0 20px rgba(235, 235, 235, 0.11);
}

.inputs {
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  padding: 1.3em;
  padding-top: 0;
  padding-bottom: 1.5em;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.4s all;

  .inputs-title {
    border-bottom: #f5f5f8 1px solid;
    margin-bottom: 18px;
    margin-top: 1em;
  }

  input {
    padding-left: 4px;
  }

  input,
  select {
    font-size: 110%;
    font-family: inherit;
  }
  select {
    height: 30px;
    width: 100%;
    font-size: 1rem;
  }

  #number-of-rooms {
    font-size: 100%;
  }

  @media (max-width: 789px) {
    select {
      font-size: 80%;
    }
    label {
      font-size: 90%;
    }
    .inputs-title {
      margin-top: 0;
    }
  }
}
@media (max-width: 789px) {
  .inputs {
    width: clamp(40px, 60vw, 600px);
  }
}

.inputs:hover {
  box-shadow: 0 0 80px rgba(0, 47, 255, 0.247);
  border: 1px solid rgba(255, 255, 255, 0.479);
  transition: 1s all;
}
.inputs:focus-within {
  box-shadow: 0 0 80px rgba(0, 47, 255, 0.247);
  border: 1px solid rgba(255, 255, 255, 0.479);
  transition: 1s all;
}

.display {
  // opacity: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.contact-info {
  position: relative;
  bottom: 0;
}

.sharing {
  display: none;
}

.question-mark {
  cursor: help;
}
