#address-form {
  margin-bottom: 0.6rem;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid var(--light-grey);
  // box-shadow: 0 0 20px var(--grey-shadow);
  margin-top: 1.4em;
  transform: translateY(-18px);

  padding: 1.5em;
  border-radius: 30px;
  transition: 0.6s;

  @media (max-width: 789px) {
    transform: translateY(0);
    margin-bottom: 10px;
  }
}
.inputs-container:hover {
  box-shadow: 0 0 20px var(--white-shadow);
}

.inputs {
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  padding: 1.3em;
  padding-top: 0;
  padding-bottom: 1.5em;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.4s;

  .inputs-title {
    // border-bottom: var(--loader-color) 1px solid;
    border-bottom: var(--white-transparent) 1px solid;
    margin-bottom: 18px;
    margin-top: 1em;
  }

  input {
    padding-left: 4px;
  }

  input,
  select {
    font-size: 110%;
    font-family: inherit;
    color: inherit;
  }
  select {
    height: 30px;
    width: 100%;
    font-size: 1rem;

    option {
      font-size: 92%;
    }
  }

  #number-of-rooms {
    font-size: 100%;
  }

  @media (max-width: 789px) {
    select {
      font-size: 80%;
    }
    label {
      font-size: 90%;
    }
    .inputs-title {
      margin-top: 0;
    }
  }
}
@media (max-width: 789px) {
  .inputs {
    width: clamp(40px, 60vw, 600px);
  }
}
@media (max-width: 450px) {
  .inputs {
    width: 100%;
  }
}

.inputs:hover {
  // border: 1px solid rgba(255, 255, 255, 0.479);
  // box-shadow: 0 0 80px var(--main-blue-transparent);
  border: 1px solid var(--white-transparent);
  transition: 1s all;
}
.inputs:focus-within {
  // border: 1px solid rgba(255, 255, 255, 0.479);
  box-shadow: 0 0 80px var(--main-blue-transparent);
  border: 1px solid var(--white-transparent);
  transition: 1s all;
}

.display {
  // opacity: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.contact-info {
  position: relative;
  bottom: 0;
}

.sharing {
  // display: none;
}

.question-mark {
  cursor: help;
}
