//old loader animation

.loader {
  display: none;
  transform: translateY(-30px);
}

.balls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 6px;
  margin-top: 2em;
  background-color: #f5f5f8;
  animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14px);
  }
  100% {
    transform: translateY(0);
  }
}

.ball:nth-child(2) {
  animation-delay: -0.2s;
}

.ball:nth-child(3) {
  animation-delay: -0.4s;
}

.ball:nth-child(4) {
  animation-delay: -0.6s;
}

.ball:nth-child(5) {
  animation-delay: -0.8s;
}

///////////////////////error display

.loader-and-error-container {
  min-height: 70vh;
  min-height: 70svh;
  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;
  position: absolute;

  @media (max-width: 500px) {
    min-height: 75vh;
    min-height: 75svh;
  }
}

.back-button {
  position: absolute;
  // left: 2em;
  left: -100em;
  top: 6.5em;
  width: 2.5em;
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  padding-right: 20px;
  background: none;
  border: white 2px solid;
  opacity: 0.5;
  transition: 0.4s;
  z-index: 5;

  &:hover {
    background-color: rgb(77, 92, 230);
    transition: 0.3s;
    opacity: 0.9;
  }
}

.arrow {
  position: absolute;
  top: -6px;
  left: 7px;
  font-size: 200%;
}

.button-visible-error {
  @media (max-width: 789px) {
    left: 1.3em;
  }
  left: 2em;
}

/////////////////////////////////background animation
.spinning-circles-container {
  display: flex;
  align-items: center;
  justify-content: center;

  animation: appear 10s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circle-container {
  width: fit-content;

  animation: rotation 5s infinite linear;

  position: relative;
  z-index: 6;
}

.circle-loader {
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--loader-color);
  // scale: 0.5;

  position: relative;
  z-index: 7;
}

$animation-delay: 1.75s;
$animation-start-delay: 1s;

.circle-loader:nth-child(1) {
  animation: oscilation 2s infinite ease;
  animation-delay: calc($animation-delay + $animation-start-delay);
}

.circle-loader:nth-child(2) {
  margin-left: 90px;

  animation: oscilation 2s infinite ease;
  animation-delay: 1s;
}

.circle-loader:nth-child(3) {
  animation: oscilation 2s infinite ease;
  animation-delay: calc($animation-delay + $animation-start-delay);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    z-index: 3;
  }
  to {
    transform: rotate(360deg);
    z-index: 3;
  }
}

@keyframes oscilation {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0px);
  }
}

.loading-message {
  position: relative;
  z-index: 100;
  max-width: 500px;
}
