.rentbuster-logo {
  width: 180px;
  margin: 0;
}

nav {
  width: 100%;
  //   border: 1px rgba(255, 255, 255, 0.178) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.2em;
  //   padding: 0 0.5em;
  //   padding-bottom: 0.7em;
  //   border-bottom: 2px solid rgba(255, 255, 255, 0.233);
}

h1 {
  font-size: clamp(1.7rem, 0.7153rem + 1.4vw, 2.4rem);

  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
  flex-basis: 100%;
  margin-top: 6px;
  font-family: 'Castoro Titling', cursive;
  font-family: 'Prompt', sans-serif;
  //   font-family: 'Bree Serif', serif;
  //   font-family: 'Secular One', sans-serif;

  transform: translateX(-43px);

  width: 100%;
}

.title-small {
  display: none;
  font-size: clamp(1.3rem, 0.8rem + 1.4vw, 2.4rem);
}

@media (max-width: 910px) {
  h1 {
    transform: translateX(-40px);
  }
  .rentbuster-logo {
    width: 140px;
  }
}
@media (max-width: 790px) {
  h1 {
    display: none;
  }
  .title-small {
    display: block;
  }
  nav {
    margin-bottom: 1.5em;
  }
}
@media (max-width: 335px) {
  .rentbuster-logo {
    width: 120px;
  }
}

h3 {
  margin-bottom: 0;
  font-size: clamp(0.9rem, 0.4rem + 1.2vw, 1.1rem);
  max-width: 50rem;
  font-weight: 500;
}

.contact-navbar {
  font-size: clamp(1.1rem, 0.6rem + 0.8vw, 2.4rem);
}
