.button-container {
  display: grid;
  place-items: center;
}

.submit-btn {
  position: relative;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.178);

  overflow: hidden;
  width: 100%;
  max-width: 14em;

  margin-top: 15px;
  margin-top: 12px;
  padding: 0.8em 0;
  border: 1px solid rgba(255, 255, 255, 0.14);
  transition: 0.6s all;

  span {
    opacity: 0;
    transition: 0.4s all;
  }
}

$line-color: #3b79ff9c;
$line-color: #8aacf771;

.submit-btn:hover {
  scale: 1.08;
  border: 1px solid rgba(255, 255, 255, 0);
  // box-shadow: 0 0 50px rgba(220, 220, 224, 0.295);
  // box-shadow: 0 0 200px #3b79ffdc;
  box-shadow: 0 0 200px rgba(0, 47, 255, 0.473);
  box-shadow: 0 0 200px rgba(0, 47, 255, 0.8);
  transition: 0.6s all;
}
.submit-btn:hover span {
  opacity: 1;
  transition: 0.3s all;
}
.submit-btn:active {
  scale: 0.97;
}

.submit-btn span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #171618, $line-color);
  animation: animate1 1.3s ease-in-out infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.submit-btn span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background: linear-gradient(to bottom, #171618, $line-color);
  animation: animate2 1.3s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.submit-btn span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, #171618, $line-color);
  animation: animate3 1.3s ease-in-out infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.submit-btn span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background: linear-gradient(to top, #171618, $line-color);
  animation: animate4 1.3s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
