.button-container {
  display: grid;
  place-items: center;
}

.submit-btn {
  position: relative;
  background-color: rgba(18, 17, 17, 0.071);

  overflow: hidden;
  width: 100%;
  max-width: 14em;

  margin-top: 15px;
  margin-top: 12px;
  padding: 0.8em 0;
  border: 2px solid var(--light-grey);
  transition: 0.6s all;
  color: inherit;

  span {
    opacity: 0;
    transition: 0.4s all;
  }
}

$line-color: #3b79ff9c;
$line-color: #8aacf771;

.submit-btn:hover {
  scale: 1.08;
  color: rgb(220, 218, 224);
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.684);

  box-shadow: 0 0 200px rgba(0, 47, 255, 0.473);
  box-shadow: 0 0 200px rgba(0, 47, 255, 0.8);
  transition: 0.6s all;
}
.submit-btn:hover span {
  opacity: 1;
  transition: 0.3s all;
}
.submit-btn:active {
  scale: 0.97;
}

.submit-btn span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, var(--submit-btn-trace), $line-color);
  animation: animate1 1.3s ease-in-out infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.submit-btn span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background: linear-gradient(to bottom, var(--submit-btn-trace), $line-color);
  animation: animate2 1.3s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.submit-btn span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, var(--submit-btn-trace), $line-color);
  animation: animate3 1.3s ease-in-out infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.submit-btn span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background: linear-gradient(to top, var(--submit-btn-trace), $line-color);
  animation: animate4 1.3s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
